<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link href="static/img/icon/logo_pst-20230313081224.png" rel="icon">
    <link href="static/img/icon/logo_pst-20230313081224.png" rel="apple-touch-icon">

    <title>Penjualan Data - PST BPS Surabaya</title>

    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="static/css/pembelian_data.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>

<body>
    
    <!--header -->
    <header>
        <div class="colom">
            <h1 class="logo"><a href="{{url_for('perpustakaan')}}"><img src="static/img/icon/logo bps(2).png" alt="Logo BPS Surabaya"></a></h1>
        </div>
    </header>

    <!-- Content -->
<div class="section procedures">
    <div class="container">
        <h1>Pembelian Data Badan Pusat Statistik Kota Surabaya</h1>
        <div class="container">
            <div class="container-row">
                <div class="row-container">
                    <div class="column-row" id="col1">
                        <i class="fas fa-book"></i>
                        <a href="#"><span>Publikasi Cetak</span></a>
                        <p>Temukan berbagai informasi dalam publikasi cetak kami. Dapatkan data fisik untuk referensi Anda.</p>
                    </div>
                    <div class="column-row" id="col2">
                        <i class="fas fa-file-pdf"></i>
                        <a href="#"><span>Publikasi Elektronik</span></a>
                        <p>Unduh data dalam format PDF untuk akses yang mudah dan praktis. Hemat kertas, dapatkan informasi cepat.</p>
                    </div>
                    <div class="column-row" id="col3">
                        <i class="fas fa-table"></i>
                        <a href="#"><span>Data Mikro</span></a>
                        <p>Temukan data mikro untuk analisis mendalam. Dapatkan dataset lengkap untuk kebutuhan Anda.</p>
                    </div>
                    <div class="column-row" id="col4">
                        <i class="fas fa-map-marker"></i>
                        <a href="#"><span>Peta Digital</span></a>
                        <p>Explorasi wilayah dengan peta digital kami. Dapatkan visualisasi data yang menarik.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <!--footer-->
    <footer id="footer">
        <p>Badan Pusat Statistik Kota Surabaya (Statistics of Surabaya City)<br>
            Jl. A. Yani 152 E Surabaya 60231 Jawa Timur Indonesia, Telp (62-31) 82516020, Faks (62-31) 8296691, Mailbox : bps3578@bps.go.id<br>
            Hak Cipta &copy; 2023 Badan Pusat Statistik<br>
            Semua Hak Dilindungi</p>
        <!--Copyright-->
        <div class="container d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
                <div class="container">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
                    <div class="row">
                        <h2>Badan Pusat Statistik Kota Surabaya - 2023</h2>
                    </div>
                </div>
            </div>
            <div class="row1">
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/bpskotasurabaya/" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="https://youtube.com/@bpskotasurabaya3578?si=6hizIBuXB3ycNiZb" class="youtube"><i class="bx bxl-youtube"></i></a>
                    <!--<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
                    <!--<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>

</body>

</html>